<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

  </head>
  <body ng-app="barcodeApp" >

    <ion-pane>
      <ion-header-bar class="bar-balanced">
        <h1 class="title">Matthaeus' Barcode App</h1>
      </ion-header-bar>

      <ion-content style="text-align: left" class="has-footer">

        <ion-list ng-controller="ListController">
          <ion-item ng-repeat="item in listItens">

            <h2>{{item.name}}</h2>
            <p>Barcode: {{item.barcode}}</p>
            <ion-option-button class="button-assertive"
                               ng-click="delete(item)">
              Excluir
            </ion-option-button>
            <ion-option-button class="button-positive"
                               ng-click="edit(item)">
              Editar
            </ion-option-button>
            
          </ion-item>
        </ion-list>

      </ion-content>
    
      <ion-footer-bar ng-controller="ScanController" class="bar-positive">
        <div class="buttons">
          <button class="button button-clear" ng-click="scanBarcode()"><i class="icon ion-qr-scanner"></i> Scan Barcode</button>
        </div>
      </ion-footer-bar>

    </ion-pane>

  </body>
</html>
